html {
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: 'Aldrich', sans-serif;
}

body {
    display: grid;
    gap: 5px;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr;
    background-color: rgb(181, 208, 181);
}

button {
    font-family: 'Aldrich', sans-serif;
    font-size: 1rem;
    border: none;
    padding: 5px 10px;
    color: rgb(235, 227, 217);
}

button:disabled {
    background-color: rgb(38, 37, 37);
}

.title-txt {
    justify-self: center;
    align-self: center;
    font-size: 3rem;
}

.search-div {
    display: flex;
    gap: 10px;
    align-self: center;
    justify-self: center;
}

.search-bar {
    font-family: 'Aldrich', sans-serif;
    font-size: 1.1rem;
    background-color: rgb(38, 37, 37);
    color: rgb(235, 227, 217);
    border: none;
    padding: 5px 10px;
}

.search-bar:focus {
    outline: 2px solid rgb(229, 126, 29);
}

.search-btn {
    background-color: rgb(229, 126, 29);
}

.unit-btns {
    display: flex;
    gap: 10px;
    align-self: center;
    justify-self: center;
    justify-content: space-around;
    width: 100%;
}

.selected {
    background-color: rgb(229, 126, 29);
}

.unselected {
    background-color: rgb(38, 37, 37);
}

.condition-icon {
    align-self: center;
    justify-self: center;
    filter: grayscale(1);
}

.current-main, .current-details {
    background-color: rgb(38, 37, 37);
    padding: 10px;
    color: rgb(235, 227, 217);
}

.current-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: center;
    font-size: 1.3rem;
}

.current-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 5px;
    align-self: start;
    font-size: 1.1rem;
}

.current-details > .load-err-txt {
    justify-content: center;
    width: 100%;
}

.humidity, .sunrise-time, .sunset-time {
    justify-content: end;
}

#high-low-c, #high-low-f {
    display: flex;
    gap: 10px
}