html {
    display: flex;
    justify-content: center;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 0.5fr 1fr 2fr 2fr;
}
.search-div {
    display: flex;
    gap: 10px;
    align-self: center;
    justify-self: center;
}

.unit-btns {
    display: flex;
    gap: 10px;
    align-self: center;
    justify-self: center;
}

.current-main, .current-details {
    border: 1px solid black;
    padding: 10px;
}

.current-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: center;
}

.current-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 5px;
    align-self: start;
}

.humidity, .sunrise-time, .sunset-time {
    justify-content: end;
}

#high-low-c, #high-low-f {
    display: flex;
    gap: 10px
}