html {
    display: flex;
    justify-content: center;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 0.5fr 1f 1fr 2fr 2fr;
    background-color: rgb(63, 83, 63);
}
.search-div {
    display: flex;
    gap: 10px;
    align-self: center;
    justify-self: center;
}

.unit-btns {
    display: flex;
    gap: 10px;
    align-self: center;
    justify-self: center;
}
.condition-icon {
    align-self: center;
    justify-self: center;
}

.current-main, .current-details {
    background-color: rgb(38, 37, 37);
    padding: 10px;
    color: rgb(235, 227, 217);
}

.current-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: center;
}

.current-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 5px;
    align-self: start;
}

.humidity, .sunrise-time, .sunset-time {
    justify-content: end;
}

#high-low-c, #high-low-f {
    display: flex;
    gap: 10px
}